# Environments and IDEs
.venv/
.vscode/
.env

# Python junk
__pycache__/
*.py[cod]
*$py.class

# Research Data & Models (Folders)
data/
cache/
saved_models/
logs/
tb_logs/

# OS Junk
.DS_Store
Thumbs.db

# Large Binaries
*.pth
*.h5
*.ckpt
*.edf

# Large data files
checkpoints/*
plots/*
results/*


tb_logs*

metadata-availability
cross-city-results